.DS_Store
*.tfvars
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
serving_dir
*.csv
.ipynb_checkpoints/
*.json
*.zip
*.tar
*.env
.env
de_*
*.pickle